.item {
  @apply transition-all shadow-sm bg-[#eae9e5] flex flex-col justify-between items-center gap-3 w-full rounded-2xl p-5 px-10;

  & > img {
    @apply transition-none -mb-6 -mt-24;
  }

  .heading {
    @apply text-[#a19a8e] text-lg 2xl:text-2xl font-bold leading-6 line-clamp-2;
  }
  .description {
    @apply flex-1 w-full self-start text-[#b7ae9f] font-medium opacity-90 text-sm 2xl:text-base leading-4 line-clamp-3;
  }
  .variation {
    @apply flex justify-between items-center;

    & span {
      @apply text-2xl font-bold text-green-dark;
    }

    & div {
      @apply flex gap-1;

      > button {
        @apply hover:-translate-y-0.5 active:scale-95;
      }
    }
  }
  .button {
    @apply hidden;
  }

  &.active {
    @apply bg-green w-full gap-5 transition-none shadow-xl shadow-[rgba(0,_0,_0,_.3)];
    background-image: linear-gradient(
        rgba(0, 122, 88, 0.91),
        rgba(0, 122, 88, 1)
      ),
      url("/bg-paternjpg.jpg");
    background-size: contain;
    background-position: center;

    & > img {
      @apply -mb-7;
    }

    .heading {
      @apply text-white text-2xl md:text-xl line-clamp-3;
    }
    .description {
      @apply text-sm text-white opacity-100 line-clamp-none;
    }
    .button {
      @apply flex w-10/12 bg-white rounded-full uppercase tracking-widest text-sm hover:scale-105 active:scale-95;
    }
  }
}
