.item {
  @apply transition-all bg-[#ebe9e5] flex flex-col justify-between items-center gap-3 rounded-2xl p-5 px-10;

  & > img {
    @apply transition-none -mb-6 -mt-24;
  }

  .heading {
    @apply text-[#9d9993] text-lg font-semibold leading-6 line-clamp-2;
  }
  .description {
    @apply self-start text-[#9d9993] opacity-70 text-xs leading-4;
  }
  .button {
    @apply hidden;
  }

  &.active {
    @apply bg-green gap-5 transition-none;
    background-image: linear-gradient(
        rgba(0, 143, 101, 0.8),
        rgba(0, 96, 67, 1)
      ),
      url("/bg-paternjpg.jpg");
    background-size: 60%;
    background-position: center;

    & > img {
      @apply -mb-7;
    }

    .heading {
      @apply text-white text-xl;
    }
    .description {
      @apply text-base text-white;
    }
    .button {
      @apply flex w-10/12 bg-white rounded-full uppercase tracking-widest text-sm
      hover:scale-105 active:scale-100;
    }
  }
}
